@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Benne&family=Lato:wght@900&display=swap');
:root{
    --azul: #0170D9;
    --azul-medio: #6EA6E1;
    --azul-claro: #99BDE1;
    --azul-mais-claro: #BFD3EB;

    --verde: #447526;
    --verde-medio: #739058;
    --verde-claro: #84997A;
    --verde-mais-claro: #A6C8C7;

    --vermelho: #5A120D;
    --vermelho-medio: #B73A37;
    --vermelho-claro: #CE5855;
    --vermelho-mais-claro: #F4C3C3;

    --espaco: 12px;
    --radius: 20px;

    --sombras:10px 10px 30px #bebebece,
    -10px -10px 30px #ffffffc4;
}


