@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,100&display=swap');

:root{
    --verde-coral:#AAF3DD;
    --branco:#FFFFFF;
    --amarelo-hover: #ffd000;
    --space: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
main{
    min-height: 100vh;
    background-image: linear-gradient(var(--verde-coral), var(--branco) );
    display: flex;
    align-items: center;
    justify-content: center;
}
.bloco{
    width: 80%;
    height: 90vh;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu img{
    margin-left: var(--space);
}
.menu ul li{
    margin: var(--space);
    display: inline;
}
.menu ul li a{
    color: #121b1a;
    font-size: 20px;
    text-decoration: none;
}
.menu ul li a:hover{
    color: var(--amarelo-hover);
}
.header{
    margin-top: var(--space);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.paragrafo {
    margin: var(--space);
    width: 600px;
}
.circle {
    margin: var(--space);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color:var(--branco);
    box-shadow: 10px 5px 20px rgba(92, 92, 92, 0.315);
}
.circle img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
footer{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.insta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.insta img{
    width: 25px;
    height: 25px;
}
.insta a{
    color: #121b1a;
    text-decoration: none;
}
.insta a :hover{
    color: var(--amarelo-hover);
}
.insta a h2{
    margin: var(--space);
    font-size: 15px;
    
}
.twitter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.twitter img{
    width: 20px;
    height: 20px;
}
.twitter a{
    color: #121b1a;
    text-decoration: none;
}
.twitter a:hover{
    color: #ffd000;
}
.twitter a h2{
    margin: var(--space);
    font-size: 15px;
    
}